# https://wiki.ubuntu.com/SystemdForUpstartUsers
# JBR MiddleTier Podcast Control Service

[Unit]
Description=JBR MiddleTier Podcast Control Service (DEV)
After=mysql.service

[Service]
ExecStart=/usr/bin/java -Xms768M -Xmx768M -Dspring.profiles.active=dev -jar /usr/bin/jbr/dev/MiddleTier-Podcast-DEV-onejar.jar

[Install]
WantedBy=multi-user.target
