# https://wiki.ubuntu.com/SystemdForUpstartUsers
# JBR MiddleTier PodcastDB Service

[Unit]
Description=JBR MiddleTier PodcastDB Service (DEV)
After=mysql.service

[Service]
ExecStart=/usr/bin/java -Xms768M -Xmx768M -Dspring.config.location=file:/usr/bin/jbr/dev/MiddleTier-PodcastDB-DEV.properties -Dlogging.config=file:/usr/bin/jbr/dev/MiddleTier-PodcastDB-DEV-log4j.xml -jar /usr/bin/jbr/dev/MiddleTier-PodcastDB-DEV-onejar.jar

[Install]
WantedBy=multi-user.target