# https://wiki.ubuntu.com/SystemdForUpstartUsers
# JBR MiddleTier PodcastDB Service

[Unit]
Description=JBR MiddleTier PodcastDB Service
After=mysql.service

[Service]
ExecStart=/usr/bin/java -Xms768M -Xmx768M -Dspring.config.location=file:/usr/bin/jbr/MiddleTier-PodcastDB-PDN.properties -Dlogging.config=file:/usr/bin/jbr/MiddleTier-PodcastDB-PDN-log4j.xml -jar /usr/bin/jbr/MiddleTier-PodcastDB-onejar.jar

[Install]
WantedBy=multi-user.target